Repository mitsuki31/SkiArticle, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, documentation, frontend, backend

.github/labeler.yml:

chore:
- '.github/**/*'

documentation:
- '**/*.md'

frontend:
- 'public/**/*'
- 'src/scss/**/*'

backend:
- 'src/**/*'
- 'config/**/*'

Add `node-dir` to production dependencies
  package-lock.json
  package.json
Labels: none

Add a new utility function called `lsFiles`
  src/utils/coreutils.js
Labels: backend

Add `callback` checker before the process
  src/utils/coreutils.js
Labels: backend

Add options checker to check every option type
  src/utils/coreutils.js
Labels: backend

JSDoc addition to `lsFiles` function
  src/utils/coreutils.js
Labels: backend

Replace `path` parameter to prevent name conflicts
  src/utils/coreutils.js
Labels: backend

Add ability to return the file names only
  src/utils/coreutils.js
Labels: backend

Add documentation for `baseName` option
  src/utils/coreutils.js
Labels: backend

Some fixes and refactor to `config.resolve` function
  src/utils/config.js
Labels: backend

Refactor and change the `buildSass` to async function
  src/build.js
Labels: backend

Improve documentation in `coreutils` module
  src/utils/coreutils.js
Labels: backend

Add new path that refers to `build` directory
  src/utils/coreutils.js
Labels: backend

Change destination path and update `.gitignore`
  .gitignore
  config/build.json
Labels: backend

Refactor and update some server-side modules
  src/build.js
  src/server/server.js
Labels: backend

Fix ESLint runner failed
  src/build.js
Labels: backend

Introduce a new async utility function
  src/utils/config.js
Labels: backend

JSDoc addition for `typeCheckerAsync` function
  src/utils/config.js
Labels: backend

Define new typedef of JSDoc for callback function
  src/utils/config.js
Labels: backend

Include the `typeCheckerAsync` to exports
  src/utils/config.js
Labels: backend

Enhance and refactor the `resolve` function
  src/utils/config.js
Labels: backend

Fix the callback params documentation
  src/utils/config.js
Labels: backend

Define new checker for `charset` option
  src/utils/config.js
Labels: backend

Add layer of check avoiding unexpected errors
  src/utils/config.js
Labels: backend

Configure an error for specific condition
  src/utils/config.js
Labels: backend

Add support for `array` input type
  src/utils/config.js
Labels: backend

Add new `typeChecker` that runs synchronously
  src/utils/config.js
Labels: backend

Add the JSDoc for `typeChecker` function
  src/utils/config.js
Labels: backend

Fix the configuration not resolved correctly
  src/build.js
  src/utils/config.js
Labels: backend

Resolve an error in I/O operations
  src/build.js
Labels: backend

Fully resolve the error in I/O operations
  src/build.js
Labels: backend

Rename variable to prevent confusion
  src/build.js
Labels: backend

Function of `lsFiles` now allow file path input
  src/utils/coreutils.js
Labels: backend

Remove unnecessary checks in `lsFiles` function
  src/utils/coreutils.js
Labels: backend

Enhance the expression to check for a regular file
  src/utils/coreutils.js
Labels: backend

Add documentation to the navbar menu layout
  src/scss/layout/_layout.scss
Labels: frontend, backend

Add the documentation for navbar contents' layout
  src/scss/layout/_layout.scss
Labels: frontend, backend

Add the documentation for navbar contents' layout (LD)
  src/scss/layout/_layout.scss
Labels: frontend, backend

Add the documentation for logo layout
  src/scss/layout/_layout.scss
Labels: frontend, backend

Update and add the `layouts` group
  .sassdocrc
Labels: none

Remove the 'See also' in navbar menus layout's docs
  src/scss/layout/_layout.scss
Labels: frontend, backend
