Repository mitsuki31/SkiArticle, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, documentation, frontend, backend

.github/labeler.yml:

chore:
- '.github/**/*'

documentation:
- '**/*.md'

frontend:
- 'public/**/*'
- 'src/scss/**/*'

backend:
- 'src/**/*'
- 'config/**/*'

Initial site
  LICENSE
  README.md
  assets/css/main.css
  assets/fonts/poppins_400.ttf
  assets/fonts/poppins_500.ttf
  assets/fonts/poppins_600.ttf
  assets/images/icon_ski.png
  assets/images/logo_ski.png
  assets/js/main.js
  assets/js/setup.js
  assets/json/global-urls.json
  index.html
Labels: documentation

Create CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Update and improve the README file
  README.md
Labels: documentation

Add name for each header
  README.md
Labels: documentation

Add the list of contents
  README.md
Labels: documentation

Initial the README file for Indonesian
  README_ID.md
Labels: documentation

Add a new badge referring to Indonesian README
  README.md
Labels: documentation

Fix and revised the 'Go to the top'
  README.md
  README_ID.md
Labels: documentation

Fix miss translation and incorrect link
  README_ID.md
Labels: documentation

Add the list of contents for easier navigation
  README.md
  README_ID.md
Labels: documentation

Add a badge to see the status page
  README.md
  README_ID.md
Labels: documentation

Rename the `_body.scss` to `_main.scss` for clarity
  src/scss/_allstyles.scss
  src/scss/layouts/_main.scss
Labels: frontend, backend

Set a background image
  public/index.html
  src/scss/main.scss
Labels: frontend, backend

Fix quotes and paragraphs alignment
  public/index.html
Labels: frontend

Move footer's layout to `_footer` module
  src/scss/_allstyles.scss
  src/scss/layouts/_footer.scss
  src/scss/main.scss
Labels: frontend, backend

Refactor navigation bar and change hover color
  src/scss/base/_global.scss
  src/scss/layouts/_header.scss
Labels: frontend, backend

Update the design of list of contents
  src/scss/layouts/_header.scss
Labels: frontend, backend

Add a new file to store necessary variables
  src/scss/components/_main-base.scss
Labels: frontend, backend

Remove the spaces line within sub-containers
  public/index.html
  src/scss/layouts/_main.scss
Labels: frontend, backend

Huge refactor to container's layout
  src/scss/layouts/_main.scss
Labels: frontend, backend

Change the navigation width unit to `vw`
  src/scss/components/_navbar-base.scss
Labels: frontend, backend

Reactivate the overlay layer and fix Z index
  src/scss/layouts/_header.scss
  src/scss/main.scss
Labels: frontend, backend

Fonts embedding no longer use static method
  public/index.html
  src/scss/main.scss
  static/css/poppins.css
  static/fonts/poppins_400.ttf
  static/fonts/poppins_500.ttf
  static/fonts/poppins_600.ttf
Labels: frontend, backend

Change the article font to Noto Serif
  public/index.html
  src/scss/components/_main-base.scss
Labels: frontend, backend

Change and redesign the footer layout
  public/index.html
  src/scss/layouts/_footer.scss
Labels: frontend, backend

Remove the visibility adjustment
  src/scss/layouts/_header.scss
Labels: frontend, backend

Add the copyright at the bottom of navbar menu
  public/index.html
  src/scss/layouts/_header.scss
Labels: frontend, backend

Auto close the navigation menus if opened
  public/assets/js/main.js
Labels: frontend

Refactor the navigation menus
  public/index.html
  src/scss/layouts/_header.scss
Labels: frontend, backend

Improve the transition of copyright text
  src/scss/layouts/_header.scss
Labels: frontend, backend

Introduce a new function that print help message
  src/server/server.ts
Labels: backend

Refactor the driver code of server module
  src/server/server.ts
Labels: backend

Add new script to display the server help message
  package.json
Labels: none

Define a new title on the navigation bar
  public/index.html
  src/scss/main.scss
Labels: frontend, backend

Hide the navbar button and header on larger devices
  src/scss/layouts/_header.scss
  src/scss/main.scss
Labels: frontend, backend

Specify the theme color to adaptive with navbar color
  public/index.html
Labels: frontend

Reduce the font size of container
  src/scss/components/_main-base.scss
Labels: frontend, backend

Refactor the layout of navigation bar
  src/scss/layouts/_header.scss
Labels: frontend, backend

Readjust the size and position of navbar logo
  src/scss/layouts/_header.scss
Labels: frontend, backend
