Repository mitsuki31/SkiArticle, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, documentation, frontend, backend

Refactor the navbar menus' layout for larger devices
  src/scss/layouts/_header.scss
  src/scss/main.scss
Labels: frontend, backend

Add the underline effect to TOC's title when hovered
  src/scss/layouts/_header.scss
Labels: frontend, backend

Smooth scroll and better navigation
  src/scss/main.scss
Labels: frontend, backend

Fix padding and reduce the header title size
  src/scss/layouts/_header.scss
Labels: frontend, backend

Add a new layer under the header element
  src/scss/layouts/_header.scss
Labels: frontend, backend

Define the container layout for larger devices
  src/scss/layouts/_main.scss
Labels: frontend, backend

Add the aside tag for another list of contents
  public/index.html
Labels: frontend

Remove font size adjustment and container refinement
  src/scss/main.scss
Labels: frontend, backend

Refactor the TOC to support on larger devices
  src/scss/main.scss
Labels: frontend, backend

Add the blur layer behind the main contents
  src/scss/main.scss
Labels: frontend, backend

Refine the container layout and add a border
  src/scss/layouts/_main.scss
Labels: frontend, backend

Implement the footer styles for larger screens
  src/scss/layouts/_footer.scss
Labels: frontend, backend

Refine the font size of the container
  src/scss/layouts/_main.scss
Labels: frontend, backend

Fix unable scrolling TOC on screen with small height
  src/scss/main.scss
Labels: frontend, backend

Remove the info message when clicked About menu
  public/assets/js/main.js
Labels: frontend

Change the footer logo with new logo
  public/assets/images/logo-smk-bisa.png
  public/index.html
Labels: frontend

Add the accreditation and fix footer alignment
  public/index.html
  src/scss/layouts/_footer.scss
Labels: frontend, backend

Bump the version to 0.2.0
  package-lock.json
  package.json
Labels: none

v0.2.0
  README.md
  README_ID.md
  assets/css/main.css
  assets/images/logo-smk-bisa.png
  assets/js/main.js
  index.html
Labels: documentation

feat: Add capability to inject copyright year dynamically
  public/assets/js/setup.js
  public/index.html
Labels: frontend

Update the copyright year
  LICENSE
  public/assets/js/main.js
  src/build.ts
  src/scss/_allstyles.scss
  src/scss/base/_global.scss
  src/scss/base/_mixin.scss
  src/scss/base/_reset.scss
  src/scss/components/_main-base.scss
  src/scss/components/_navbar-base.scss
  src/scss/layouts/_footer.scss
  src/scss/layouts/_header.scss
  src/scss/main.scss
  src/server/server.ts
  src/setup.ts
  src/utils/config.ts
  src/utils/coreutils.ts
Labels: frontend, backend

docs: Improve the `copyrightYearInjector` docs
  public/assets/js/setup.js
Labels: frontend

chore(test): Update the Jest configuration
  jest.config.js
Labels: none

ci: Coverage integration and improve test workflow
  .github/workflows/test.yml
Labels: chore

test: Add several unit tests for `coreutils` module
  test/utils.test.ts
Labels: none

fix: Fix the test error on Windows
  test/utils.test.ts
Labels: none

docs: Add the Codecov badge
  README.md
Labels: documentation

fix: Fix continously test error due to async function
  test/utils.test.ts
Labels: none

.github/labeler.yml:

chore:
- '.github/**/*'

documentation:
- '**/*.md'

frontend:
- 'public/**/*'
- 'src/scss/**/*'

backend:
- 'src/**/*'
- 'config/**/*'
