Repository mitsuki31/SkiArticle, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, documentation, frontend, backend

Initial a new test workflow
  .github/workflows/test.yml
Labels: chore

Add several dependencies for suite tests
  package-lock.json
  package.json
Labels: none

Initial Jest configuration file
  jest.config.js
Labels: none

Initial new test file for `utils` subpackage
  test/utils.test.ts
Labels: none

chore: Update TypeScript's list of included files
  .eslintignore
  tsconfig.json
Labels: none

chore(test): Add test for `typeCheckerAsync` function
  test/utils.test.ts
Labels: none

Fix wrong type declaration on `testObject` variable
  test/utils.test.ts
Labels: none

Add test suite for `resolve` function
  test/utils.test.ts
Labels: none

Add test suite for `config.lsFiles` func
  test/utils.test.ts
Labels: none

Fix and refactor `lsFiles` parameters typedef
  src/typings/coreutils.d.ts
  src/utils/coreutils.ts
Labels: backend

Fix and refactor typedefs of `config` module
  src/typings/config.d.ts
  src/utils/config.ts
Labels: backend

Move all type declaration files to 'types' directory
  src/typings/index.d.ts
  tsconfig.json
  types/config.d.ts
  types/coreutils.d.ts
  types/server.d.ts
Labels: backend

Remove unnecessary type imports
  src/build.ts
  src/server/server.ts
  src/utils/config.ts
  src/utils/coreutils.ts
Labels: backend

Remove unnecessary type imports and declaration
  test/utils.test.ts
Labels: none

Remove the `rootDir` field and use default instead
  jest.config.js
Labels: none

Initial test job in `test` workflow
  .github/workflows/test.yml
Labels: chore

Fix malfunction of `lsFiles` function
  src/utils/coreutils.ts
Labels: backend

Update several TS configurations
  jest.config.js
Labels: none

Refactor the `lsFiles` test
  test/utils.test.ts
Labels: none

Add new test case for `lsFiles` function
  test/utils.test.ts
Labels: none

Add new test case for `lsFiles` error test
  test/utils.test.ts
Labels: none

Add various test cases for `typeChecker` functions
  test/utils.test.ts
Labels: none

Add a new test case for `resolve` function
  test/utils.test.ts
Labels: none

Add a new feature for `typeChecker` funcs
  src/utils/config.ts
Labels: backend

Several changes to `lsFiles` function
  src/utils/coreutils.ts
  types/coreutils.d.ts
Labels: backend

Breaking changes for `buildSass` function
  src/build.ts
Labels: backend

Remove unused imports and fix lint errors
  src/build.ts
  src/utils/config.ts
  src/utils/coreutils.ts
Labels: backend

Force fix the `lsFiles` options resolver
  src/utils/coreutils.ts
Labels: backend

Simplify error handler to once callback call
  src/utils/coreutils.ts
Labels: backend

Remove and define new tests for `typeChecker` funcs
  test/utils.test.ts
Labels: none

Add a new test case for config resolver function
  test/utils.test.ts
Labels: none

Fix the skipped test and some refactors
  test/utils.test.ts
Labels: none

Add test suite for `build` module
  test/build.test.ts
Labels: none

Update the coverages threshold
  jest.config.js
Labels: none

Prohibit run tests on transpiled code
  .github/workflows/test.yml
  tsconfig.json
Labels: chore

Update the ignore list
  .eslintignore
Labels: none

Move all social media links to navigation menu
  public/index.html
Labels: frontend

Update and redesign navigation menus for mobile
  public/assets/js/main.js
  src/scss/components/_navbar-base.scss
  src/scss/layouts/_header.scss
Labels: frontend, backend

Header section refinements
  public/index.html
  src/scss/layouts/_header.scss
Labels: frontend, backend

Update the project description
  README.md
Labels: documentation

.github/labeler.yml:

chore:
- '.github/**/*'

documentation:
- '**/*.md'

frontend:
- 'public/**/*'
- 'src/scss/**/*'

backend:
- 'src/**/*'
- 'config/**/*'
