Repository mitsuki31/SkiArticle, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, documentation, frontend, backend

Move static directory to project's root directory
  public/index.html
  src/scss/main.scss
  static/css/poppins.css
  static/fonts/poppins_400.ttf
  static/fonts/poppins_500.ttf
  static/fonts/poppins_600.ttf
Labels: frontend, backend

Rename and add several new scripts
  package.json
Labels: none

Refactor the ESLint workflow
  .github/workflows/eslint.yml
Labels: chore

Modify and add some options
  tsconfig.json
Labels: none

Ignore the CSS directory in client-side
  .gitignore
Labels: none

Add a new module for setup the website
  src/setup.ts
Labels: backend

Rename the `build:sass` to `build:css`
  package.json
Labels: none

Add a new function, check the `Object` type
  src/utils/coreutils.ts
Labels: backend

Move the `copyFile` function to `utils` module
  src/setup.ts
  src/utils/coreutils.ts
Labels: backend

Disable ESLint error with comment
  src/utils/coreutils.ts
Labels: backend

Fix undefined variable use and return type
  src/utils/coreutils.ts
Labels: backend

Introduce a new file utility function
  src/utils/coreutils.ts
Labels: backend

Refactor and enhance the `setup` module
  src/setup.ts
Labels: backend

Improve permissions' checker on `exists` function
  src/utils/coreutils.ts
Labels: backend

Add and improve documentations for clarity
  src/setup.ts
Labels: backend

Refactor and improvements to server module
  package.json
  src/server/server.ts
Labels: backend

Enhance the setup module on client-side
  public/assets/js/setup.js
Labels: frontend

Add the GitHub repository link
  public/assets/json/global-urls.json
Labels: frontend

Fix the server unable to parse arguments
  src/server/server.ts
  src/utils/coreutils.ts
Labels: backend

Update global SCSS module
  src/scss/base/_global.scss
Labels: frontend, backend

Disable scrolling while on navigation menu
  public/assets/js/main.js
Labels: frontend

Update and refactor navigation menus
  public/index.html
Labels: frontend

Add new function to convert HTML entities
  public/assets/js/main.js
Labels: frontend

Remove Contact menu and header description
  public/index.html
Labels: frontend

Add articles and the footer page
  public/index.html
Labels: frontend

Add new layout for the body page
  src/scss/_allstyles.scss
  src/scss/layouts/_body.scss
Labels: frontend, backend

Update styles of header and navigation menus
  src/scss/layouts/_header.scss
Labels: frontend, backend

Define style for containers and the footer
  src/scss/main.scss
Labels: frontend, backend

Reduce size for each menus on navigation menu
  src/scss/components/_navbar-base.scss
Labels: frontend, backend

Change and redesign the navigation button
  public/index.html
  src/scss/layouts/_header.scss
  src/scss/main.scss
Labels: frontend, backend

Implement code in main JS to change the nav button
  public/assets/js/main.js
  public/assets/js/setup.js
Labels: frontend

Refactor the class remover on `setup.js`
  public/assets/js/setup.js
Labels: frontend

Add a new icon to footer page
  public/assets/images/icon_ski.png
  public/index.html
Labels: frontend

Update and refactor logo layout
  src/scss/layouts/_header.scss
Labels: frontend, backend

Change navigation menus' text to Indonesian
  public/index.html
Labels: frontend

Add list on header section for table of contents
  public/index.html
Labels: frontend

Define layouts for table of contents
  src/scss/layouts/_header.scss
  src/scss/main.scss
Labels: frontend, backend

Implement code to toggle table of contents
  public/assets/js/main.js
Labels: frontend

Add alert message on element click
  public/assets/js/main.js
Labels: frontend

Update and improve documentation
  README.md
Labels: documentation

.github/labeler.yml:

chore:
- '.github/**/*'

documentation:
- '**/*.md'

frontend:
- 'public/**/*'
- 'src/scss/**/*'

backend:
- 'src/**/*'
- 'config/**/*'
