Repository mitsuki31/SkiArticle, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, documentation, frontend, backend

.github/labeler.yml:

chore:
- '.github/**/*'

documentation:
- '**/*.md'

frontend:
- 'public/**/*'
- 'src/scss/**/*'

backend:
- 'src/**/*'
- 'config/**/*'

Rename and reorganize the layout resources
  src/scss/_allstyles.scss
  src/scss/layouts/_header.scss
Labels: frontend, backend

Add the `typescript` dependency to prod deps
  package-lock.json
  package.json
Labels: none

Add `ts-node` dependency
  package-lock.json
  package.json
Labels: none

Convert the `server` module's syntaces to TypeScript
  src/server/server.ts
Labels: backend

Add `types.d.ts` file storing all types declaration
  src/core/types.d.ts
Labels: backend

Convert the `coreutils` module to TypeScript
  src/utils/coreutils.ts
Labels: backend

Convert the main build module to TypeScript
  src/build.ts
Labels: backend

Add and configure the TypeScript's configuration
  .eslintignore
  tsconfig.json
Labels: none

Add some required types dependencies
  package-lock.json
  package.json
Labels: none

Convert the `config` module to TypeScript
  src/utils/config.ts
Labels: backend

Exclude the 'build' directory in JSDoc config
  config/jsdoc.json
  src/core/types.d.ts
  src/utils/config.ts
Labels: backend

Refactor and improve synchronous implementation
  src/utils/config.ts
Labels: backend

Improve and update the JSDocs on several modules
  src/build.ts
  src/server/server.ts
  src/utils/coreutils.ts
Labels: backend

Refactor the server runner's function
  src/server/server.ts
Labels: backend

Fix use of variable that possibly `null`
  src/build.ts
Labels: backend

Fix some warnings due to unassigned variables
  src/utils/config.ts
Labels: backend

Fix use of variables that possibly undefined
  src/build.ts
  src/server/server.ts
  src/utils/coreutils.ts
Labels: backend

Enable the strict mode on TypeScript config
  tsconfig.json
Labels: none

Add new necessary dependencies and plugins
  package-lock.json
  package.json
Labels: none

Fix unexpected type of interface's member
  src/core/types.d.ts
Labels: backend

Refactor the ESLint's configuration file
  .eslintrc
  .eslintrc.js
Labels: none

Temporarily exclude JS files on the client side
  .eslintignore
Labels: none

Replace explicit any types with more expected types
  src/server/server.ts
Labels: backend

Declare a new typedef for server options
  src/core/types.d.ts
Labels: backend

Refactor server options declaration within parameter
  src/server/server.ts
Labels: backend

Minor changes on the documentations
  src/server/server.ts
Labels: backend

Fix possibly undefined values
  src/server/server.ts
Labels: backend

Replace the type of `style` property
  src/core/types.d.ts
Labels: backend

Define the `moduleResolution` option to 'node'
  tsconfig.json
Labels: none

Replace explicit any types and some refactor
  src/utils/coreutils.ts
Labels: backend

Resolve the unknown returned type of Sass options
  src/utils/config.ts
Labels: backend

Change the TypeScript's output directory
  tsconfig.json
Labels: none

Several refactor changes in `build` module
  src/build.ts
Labels: backend

Remove `node@v14.x` due to incompatible
  .github/workflows/eslint.yml
Labels: chore

Fix and resolve some npm scripts
  package.json
Labels: none

Mix all build processes in one script
  package.json
Labels: none

chore(pkg): Change the required node version
  package.json
Labels: none

Rename the `core` directory to `typings`
  src/build.ts
  src/server/server.ts
  src/typings/types.d.ts
  src/utils/config.ts
  src/utils/coreutils.ts
Labels: backend

Break all declarations into several modules
  src/typings/config.d.ts
  src/typings/coreutils.d.ts
  src/typings/index.d.ts
  src/typings/server.d.ts
  src/typings/types.d.ts
Labels: backend

Fix imports in several modules
  src/build.ts
  src/server/server.ts
  src/utils/config.ts
  src/utils/coreutils.ts
Labels: backend
